body,
html {
  background-color: #fafafa;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

a {
  color: #fff;
}

h3 {
  position: sticky;
  top: 170px;
  z-index: 1;
}