body, html {
  background-color: #fafafa;
}
* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}
a {
  color: #fff;
}

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;

  img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

h3 {
  position: sticky;
  top: 170px;
  z-index: 1;
}